openapi: 3.0.0
info:
  title: Federated Content API
  description: Welcome to the Federated Content API following Open API Specification
    (Version 3.0.0)
  version: 1.0.0
  x-logo:
    url: /public/logo.svg
servers:
- url: https://api.cms.boxcribe.com/v1
- url: https://dev-api.cms.boxcribe.com/v1
tags:
- name: Company Model
  description: <SchemaDefinition schemaRef="#/components/schemas/Company" />
- name: Tenant Model
  description: <SchemaDefinition schemaRef="#/components/schemas/Tenant" />
- name: Api Key Model
  description: <SchemaDefinition schemaRef="#/components/schemas/ApiKey" />
- name: User Model
  description: <SchemaDefinition schemaRef="#/components/schemas/User" />
- name: Category Model
  description: <SchemaDefinition schemaRef="#/components/schemas/Category" />
- name: Integration Model
  description: <SchemaDefinition schemaRef="#/components/schemas/Integration" />
- name: Schema Model
  description: <SchemaDefinition schemaRef="#/components/schemas/Schema" />
- name: Field Model
  description: <SchemaDefinition schemaRef="#/components/schemas/Field" />
- name: Mapping Model
  description: <SchemaDefinition schemaRef="#/components/schemas/Mapping" />
- name: Log Model
  description: <SchemaDefinition schemaRef="#/components/schemas/Log" />
- name: Token Schema
  description: <SchemaDefinition schemaRef="#/components/schemas/Token" />
- name: Auth Tokens Schema
  description: <SchemaDefinition schemaRef="#/components/schemas/AuthTokens" />
- name: Error Schema
  description: <SchemaDefinition schemaRef="#/components/schemas/Error" />
- name: Api Keys
- name: Authentication
- name: Categories
- name: Companies
- name: Fields
- name: Integrations
- name: Logs
- name: Mappings
- name: Schemas
- name: Tenants
- name: Users
- name: Cars
  description: Cars related operations
- name: Dining
  description: Dining related operations
- name: Events
  description: Events related operations
- name: Flights
  description: Flights related operations
- name: Hotels
  description: Hotels related operations
- name: Tours and Activities
  description: Tours and Activities related operations
- name: Transports
  description: Transports related operations
paths:
  /upload:
    post:
      tags:
      - Uploads
      summary: Upload a file to AWS S3
      requestBody:
        description: File to be uploaded
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/upload_body'
        required: true
      responses:
        "200":
          description: File uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
        "400":
          description: File upload failed
  /help:
    get:
      tags:
      - Health Check
      summary: Help
      description: Returns a message indicating that the API is up and running.
      responses:
        "200":
          description: API is up and running.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_500'
  /apikeys:
    get:
      tags:
      - Api Keys
      summary: Get api keys
      description: "Retrieve a list of api keys with the ability to filter by tenant,\
        \ environment, sort, limit or page."
      parameters:
      - name: tenant
        in: query
        description: Get all schemas for a Tenant ID
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: environment
        in: query
        description: Get all schemas for an Environment (Sandbox or Production)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: sort
        in: query
        description: sort by query in the form of field:desc/asc (ex. name:asc)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of apiKeys
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
      - name: page
        in: query
        description: Page number
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          default: 1
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
      security:
      - bearerAuth: []
    post:
      tags:
      - Api Keys
      summary: Create api key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/apikeys_body'
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        "400":
          description: Email already taken
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Email already taken
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
      security:
      - bearerAuth: []
  /apikeys/{id}:
    get:
      tags:
      - Api Keys
      summary: Get api key
      parameters:
      - name: id
        in: path
        description: Api Key ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - bearerAuth: []
    delete:
      tags:
      - Api Keys
      summary: Delete api key
      parameters:
      - name: id
        in: path
        description: Api Key ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: No content
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - bearerAuth: []
    patch:
      tags:
      - Api Keys
      summary: Update api key
      parameters:
      - name: id
        in: path
        description: Api Key ID
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/apikeys_id_body'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        "400":
          description: Email already taken
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Email already taken
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - bearerAuth: []
  /auth/register:
    post:
      tags:
      - Authentication
      summary: Register
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/auth_register_body'
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201'
        "400":
          description: Email already taken
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Email already taken
  /auth/login:
    post:
      tags:
      - Authentication
      summary: Login
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/auth_login_body'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
        "401":
          description: Invalid email or password
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Invalid email or password
      security:
      - apiKeyAuth: []
  /auth/logout:
    post:
      tags:
      - Authentication
      summary: Logout
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/auth_logout_body'
        required: true
      responses:
        "204":
          description: No content
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - apiKeyAuth: []
  /auth/refresh-tokens:
    post:
      tags:
      - Authentication
      summary: Refresh auth tokens
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/auth_refreshtokens_body'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokens'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
      security:
      - apiKeyAuth: []
  /auth/forgot-password:
    post:
      tags:
      - Authentication
      summary: Forgot password
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/auth_forgotpassword_body'
        required: true
      responses:
        "204":
          description: No content
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - apiKeyAuth: []
  /auth/reset-password:
    post:
      tags:
      - Authentication
      summary: Reset password
      parameters:
      - name: token
        in: query
        description: The reset password token
        required: true
        style: form
        explode: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/auth_resetpassword_body'
        required: true
      responses:
        "204":
          description: No content
        "401":
          description: Password reset failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Password reset failed
      security:
      - apiKeyAuth: []
  /auth/send-verification-email:
    post:
      tags:
      - Authentication
      summary: Send verification email
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/auth_sendverificationemail_body'
        required: true
      responses:
        "204":
          description: No content
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - apiKeyAuth: []
  /auth/verify-email:
    post:
      tags:
      - Authentication
      summary: verify email
      parameters:
      - name: token
        in: query
        description: The verify email token
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "204":
          description: No content
        "401":
          description: verify email failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: verify email failed
      security:
      - apiKeyAuth: []
  /categories:
    get:
      tags:
      - Categories
      summary: Get categories
      parameters:
      - name: sort
        in: query
        description: sort by query in the form of field:desc/asc (ex. name:asc)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of categories
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
      - name: page
        in: query
        description: Page number
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          default: 1
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
      security:
      - bearerAuth: []
    post:
      tags:
      - Categories
      summary: Create category
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/categories_body'
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
      security:
      - bearerAuth: []
  /categories/{id}:
    get:
      tags:
      - Categories
      summary: Get category
      parameters:
      - name: id
        in: path
        description: Category id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - bearerAuth: []
    delete:
      tags:
      - Categories
      summary: Delete category
      parameters:
      - name: id
        in: path
        description: Category id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: No content
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - bearerAuth: []
    patch:
      tags:
      - Categories
      summary: Update category
      parameters:
      - name: id
        in: path
        description: Category id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/categories_id_body'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        "400":
          description: Email already taken
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Email already taken
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - bearerAuth: []
  /companies:
    get:
      tags:
      - Companies
      summary: Get companies
      parameters:
      - name: sort
        in: query
        description: sort by query in the form of field:desc/asc (ex. name:asc)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of companies
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
      - name: page
        in: query
        description: Page number
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          default: 1
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
      security:
      - bearerAuth: []
    post:
      tags:
      - Companies
      summary: Create company
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/companies_body'
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        "400":
          description: Email already taken
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Email already taken
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
      security:
      - bearerAuth: []
  /companies/{id}:
    get:
      tags:
      - Companies
      summary: Get company
      parameters:
      - name: id
        in: path
        description: Company id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - bearerAuth: []
    delete:
      tags:
      - Companies
      summary: Delete company
      parameters:
      - name: id
        in: path
        description: Company id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: No content
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - bearerAuth: []
    patch:
      tags:
      - Companies
      summary: Update company
      parameters:
      - name: id
        in: path
        description: Company id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/companies_id_body'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        "400":
          description: Email already taken
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Email already taken
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - bearerAuth: []
  /fields:
    get:
      tags:
      - Fields
      summary: Get fields
      description: "Retrieve a list of fields with the ability to filter by tenant,\
        \ schema, sort, limit or page."
      parameters:
      - name: tenant
        in: query
        description: Get all fields for a Tenant ID
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: uuid
      - name: schema
        in: query
        description: Get all fields for a Schema ID
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: uuid
      - name: sort
        in: query
        description: sort by query in the form of field:desc/asc (ex. name:asc)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of fields
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
      - name: page
        in: query
        description: Page number
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          default: 1
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
      security:
      - bearerAuth: []
    post:
      tags:
      - Fields
      summary: Create field
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fields_body'
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Field'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
      security:
      - bearerAuth: []
  /fields/{id}:
    get:
      tags:
      - Fields
      summary: Get field
      parameters:
      - name: id
        in: path
        description: Field id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Field'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - bearerAuth: []
    delete:
      tags:
      - Fields
      summary: Delete field
      parameters:
      - name: id
        in: path
        description: Field id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: No content
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - bearerAuth: []
    patch:
      tags:
      - Fields
      summary: Update field
      parameters:
      - name: id
        in: path
        description: Field id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fields_id_body'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Field'
        "400":
          description: Email already taken
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Email already taken
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - bearerAuth: []
  /integrations:
    get:
      tags:
      - Integrations
      summary: Get integrations
      description: "Retrieve a list of integrations with the ability to filter by\
        \ tenant, category, sort, limit or page."
      parameters:
      - name: tenant
        in: query
        description: Get all integrations for a Tenant ID
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: uuid
      - name: category
        in: query
        description: Get all integrations for a Category ID
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: uuid
      - name: sort
        in: query
        description: sort by query in the form of field:desc/asc (ex. name:asc)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of integrations
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
      - name: page
        in: query
        description: Page number
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          default: 1
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
      security:
      - bearerAuth: []
    post:
      tags:
      - Integrations
      summary: Create integration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/integrations_body'
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
      security:
      - bearerAuth: []
  /integrations/{id}:
    get:
      tags:
      - Integrations
      summary: Get integration
      parameters:
      - name: id
        in: path
        description: Integration id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - bearerAuth: []
    delete:
      tags:
      - Integrations
      summary: Delete integration
      parameters:
      - name: id
        in: path
        description: Integration id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: No content
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - bearerAuth: []
    patch:
      tags:
      - Integrations
      summary: Update integration
      parameters:
      - name: id
        in: path
        description: Integration id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/integrations_id_body'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Integration'
        "400":
          description: Email already taken
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Email already taken
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - bearerAuth: []
  /logs:
    get:
      tags:
      - Logs
      summary: Get logs
      parameters:
      - name: sort
        in: query
        description: sort by query in the form of field:desc/asc (ex. name:asc)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of logs
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
      - name: page
        in: query
        description: Page number
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          default: 1
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
      security:
      - bearerAuth: []
    post:
      tags:
      - Logs
      summary: Create log
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/logs_body'
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Log'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
      security:
      - bearerAuth: []
  /logs/{id}:
    get:
      tags:
      - Logs
      summary: Get log
      parameters:
      - name: id
        in: path
        description: Log id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Log'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - bearerAuth: []
    delete:
      tags:
      - Logs
      summary: Delete log
      parameters:
      - name: id
        in: path
        description: Log id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: No content
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - bearerAuth: []
    patch:
      tags:
      - Logs
      summary: Update log
      parameters:
      - name: id
        in: path
        description: Log id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/logs_id_body'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Log'
        "400":
          description: Email already taken
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Email already taken
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - bearerAuth: []
  /mappings:
    get:
      tags:
      - Mappings
      summary: Get mappings
      description: "Retrieve a list of mappings with the ability to filter by tenant,\
        \ category, schema, integration, field, sort, limit or page."
      parameters:
      - name: tenant
        in: query
        description: Get all mappings for a Tenant ID
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: uuid
      - name: schema
        in: query
        description: Get all mappings for a Schema ID
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: uuid
      - name: field
        in: query
        description: Get all mappings for a Field ID
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: uuid
      - name: integration
        in: query
        description: Get all mappings for an Integration ID
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: uuid
      - name: sort
        in: query
        description: sort by query in the form of mapping:desc/asc (ex. name:asc)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of mappings
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
      - name: page
        in: query
        description: Page number
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          default: 1
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
      security:
      - bearerAuth: []
    post:
      tags:
      - Mappings
      summary: Create mapping
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mappings_body'
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mapping'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
      security:
      - bearerAuth: []
  /mappings/{id}:
    get:
      tags:
      - Mappings
      summary: Get mapping
      parameters:
      - name: id
        in: path
        description: Mapping id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mapping'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - bearerAuth: []
    delete:
      tags:
      - Mappings
      summary: Delete mapping
      parameters:
      - name: id
        in: path
        description: Mapping id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: No content
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - bearerAuth: []
    patch:
      tags:
      - Mappings
      summary: Update mapping
      parameters:
      - name: id
        in: path
        description: Mapping id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mappings_id_body'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mapping'
        "400":
          description: Email already taken
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Email already taken
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - bearerAuth: []
  /schemas:
    get:
      tags:
      - Schemas
      summary: Get schemas
      description: "Retrieve a list of schemas with the ability to filter by tenant,\
        \ category, sort, limit, or page."
      parameters:
      - name: tenant
        in: query
        description: Get all schemas for a Tenant ID
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: uuid
      - name: category
        in: query
        description: Get all schemas for a Category ID
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: uuid
      - name: sort
        in: query
        description: Sort by query in the form of field:desc/asc (ex. name:asc)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of schemas
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
      - name: page
        in: query
        description: Page number
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          default: 1
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_10'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
      security:
      - bearerAuth: []
    post:
      tags:
      - Schemas
      summary: Create schema
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/schemas_body'
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
      security:
      - bearerAuth: []
  /schemas/groupedByEndpoint:
    get:
      tags:
      - Schemas
      summary: Get schemas grouped by endpoint
      description: "Retrieve a list of schemas grouped by their endpoint with the\
        \ ability to filter by tenant, category, sort, limit, or page."
      parameters:
      - name: tenant
        in: query
        description: Get all schemas for a Tenant ID
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: uuid
      - name: category
        in: query
        description: Get all schemas for a Category ID
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: uuid
      - name: sort
        in: query
        description: Sort by query in the form of field:desc/asc (ex. endpoint:asc)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of schemas
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
      - name: page
        in: query
        description: Page number
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          default: 1
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_11'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
      security:
      - bearerAuth: []
  /schemas/{id}:
    get:
      tags:
      - Schemas
      summary: Get schema
      parameters:
      - name: id
        in: path
        description: Schema id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - bearerAuth: []
    delete:
      tags:
      - Schemas
      summary: Delete schema
      parameters:
      - name: id
        in: path
        description: Schema id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: No content
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - bearerAuth: []
    patch:
      tags:
      - Schemas
      summary: Update schema
      parameters:
      - name: id
        in: path
        description: Schema id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/schemas_id_body'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schema'
        "400":
          description: Email already taken
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Email already taken
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - bearerAuth: []
  /tenants:
    get:
      tags:
      - Tenants
      summary: Get tenants
      parameters:
      - name: company
        in: query
        description: Company ID
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: sort
        in: query
        description: sort by query in the form of field:desc/asc (ex. name:asc)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of tenants
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
      - name: page
        in: query
        description: Page number
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          default: 1
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
      security:
      - bearerAuth: []
    post:
      tags:
      - Tenants
      summary: Create tenant
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tenants_body'
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        "400":
          description: Email already taken
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Email already taken
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
      security:
      - bearerAuth: []
  /tenants/{id}:
    get:
      tags:
      - Tenants
      summary: Get tenant
      parameters:
      - name: id
        in: path
        description: Tenant id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - bearerAuth: []
    delete:
      tags:
      - Tenants
      summary: Delete tenant
      parameters:
      - name: id
        in: path
        description: Tenant id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: No content
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - bearerAuth: []
    patch:
      tags:
      - Tenants
      summary: Update tenant
      parameters:
      - name: id
        in: path
        description: Tenant id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tenants_id_body'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        "400":
          description: Email already taken
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Email already taken
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - bearerAuth: []
  /users:
    get:
      tags:
      - Users
      summary: Get users
      parameters:
      - name: sort
        in: query
        description: sort by query in the form of field:desc/asc (ex. name:asc)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of admins
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
      - name: page
        in: query
        description: Page number
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          default: 1
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_13'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
      security:
      - bearerAuth: []
    post:
      tags:
      - Users
      summary: Create User
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/users_body'
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201'
        "400":
          description: Email already taken
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 400
                message: Email already taken
      security:
      - bearerAuth: []
  /users/:userId:
    get:
      tags:
      - Users
      summary: Get Users
      parameters:
      - name: id
        in: path
        description: User id
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
      security:
      - bearerAuth: []
    delete:
      tags:
      - Users
      summary: Delete User
      responses:
        "204":
          description: No content
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
      security:
      - bearerAuth: []
    patch:
      tags:
      - Users
      summary: Update User
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/users_userId_body'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
      security:
      - bearerAuth: []
  /cars/offers/search:
    post:
      tags:
      - Cars
      summary: Search Offers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CarOfferRequestSchema'
        required: true
      responses:
        "200":
          description: Offer Results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarOfferResponseSchema'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - apiKeyAuth: []
  /cars/offers/{offerId}:
    get:
      tags:
      - Cars
      summary: Get Offer Details
      parameters:
      - name: offerId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Offer Details Results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarOfferDetailsSchema'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - apiKeyAuth: []
  /cars/offer_availability/{offerId}:
    get:
      tags:
      - Cars
      summary: Get Offer Availability
      parameters:
      - name: offerId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CarGetOfferAvailabilityRequest'
        required: true
      responses:
        "200":
          description: Availability Results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarGetOfferAvailabilityResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - apiKeyAuth: []
  /cars/bookings:
    post:
      tags:
      - Cars
      summary: Create Booking
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CarCreateBookingRequestSchema'
        required: true
      responses:
        "200":
          description: Booking Results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarBookingResponseSchema'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - apiKeyAuth: []
  /cars/bookings/{bookingId}:
    get:
      tags:
      - Cars
      summary: Get Booking Details
      parameters:
      - name: bookingId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Booking Details Results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarBookingDetailsResponseSchema'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - apiKeyAuth: []
  /cars/bookings/{bookingId}/cancel:
    post:
      tags:
      - Cars
      summary: Cancel Booking
      parameters:
      - name: bookingId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CarCancelBookingRequestSchema'
        required: true
      responses:
        "200":
          description: Cancel Booking Results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarCancelBookingResponseSchema'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - apiKeyAuth: []
  /dining/offers/search:
    post:
      tags:
      - Dining
      summary: Search Offers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiningOfferRequestSchema'
        required: true
      responses:
        "200":
          description: Offer Results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiningOfferResponseSchema'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - apiKeyAuth: []
  /dining/offers/{offerId}:
    get:
      tags:
      - Dining
      summary: Get Offer Details
      parameters:
      - name: offerId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Offer Details Results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiningOfferDetailsSchema'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - apiKeyAuth: []
  /dining/offer_availability/{offerId}:
    get:
      tags:
      - Dining
      summary: Get Offer Availability
      parameters:
      - name: offerId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiningGetOfferAvailabilityRequest'
        required: true
      responses:
        "200":
          description: Availability Results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiningGetOfferAvailabilityResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - apiKeyAuth: []
  /dining/bookings:
    post:
      tags:
      - Dining
      summary: Create Booking
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiningCreateBookingRequestSchema'
        required: true
      responses:
        "200":
          description: Booking Results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiningBookingResponseSchema'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - apiKeyAuth: []
  /dining/bookings/{bookingId}:
    get:
      tags:
      - Dining
      summary: Get Booking Details
      parameters:
      - name: bookingId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Booking Details Results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiningBookingDetailsResponseSchema'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - apiKeyAuth: []
  /dining/bookings/{bookingId}/cancel:
    post:
      tags:
      - Dining
      summary: Cancel Booking
      parameters:
      - name: bookingId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiningCancelBookingRequestSchema'
        required: true
      responses:
        "200":
          description: Cancel Booking Results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiningCancelBookingResponseSchema'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - apiKeyAuth: []
  /events/offers/search:
    post:
      tags:
      - Events
      summary: Search Offers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventOfferRequestSchema'
        required: true
      responses:
        "200":
          description: Offer Results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventOfferResponseSchema'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - apiKeyAuth: []
  /events/offers/{offerId}:
    get:
      tags:
      - Events
      summary: Get Offer Details
      parameters:
      - name: offerId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Offer Details Results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventOfferDetailsSchema'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - apiKeyAuth: []
  /events/offer_availability/{offerId}:
    get:
      tags:
      - Events
      summary: Get Offer Availability
      parameters:
      - name: offerId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventGetOfferAvailabilityRequest'
        required: true
      responses:
        "200":
          description: Availability Results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGetOfferAvailabilityResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 401
                message: Please authenticate
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 403
                message: Forbidden
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Not found
      security:
      - apiKeyAuth: []
  /events/bookings:
    post:
      tags:
      - Events
      summary: Create Booking
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventCreateBookingRequestSchema'
        required: true
      responses:
        "200":
[...]
